.container{
    display: flex;
    gap: 20px;
    align-items: start;
    justify-content: start;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
    padding-left: 15px;
    padding-top: 15px;
}

.list{
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.title{
    color: black;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.21;
    letter-spacing: -0.03em;
}

.overview{
    color: black;
    text-align: start;
    font-size: 16px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

span{
    font-weight: 600;
}

.genres{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 16px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: black;
}

.score{
    font-weight: 300;
    font-size: 16px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: black;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
    padding-left: 15px;
}

.titleInfo{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.21;
    letter-spacing: -0.03em;
}

.listInfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.itemInfo{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.21;
    letter-spacing: -0.03em;
}

.itemInfo:hover, 
.itemInfo:active{
color: orangered;
transition: 300ms linear, color 300ms linear;
}

.btnBack{
    text-decoration: none;
    color: black;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em;
    display: flex;
        gap: 3px;
}

.btnBack:hover{
    color: orangered;
    transition: 300ms linear, color 300ms linear;
}
